#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #0d0d1a;
  overflow: hidden;
  z-index: -1;
}

.background span {
  width: 1vmin;
  height: 1vmin;
  border-radius: 1vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 1;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #ffffff;
  top: 16%;
  left: 53%;
  animation-duration: 223s;
  animation-delay: -420s;
  transform-origin: 1vw 4vh;
  box-shadow: -2vmin 0 0.2773405403810403vmin currentColor;
}
.background span:nth-child(1) {
  color: #5b14d7;
  top: 41%;
  left: 29%;
  animation-duration: 199s;
  animation-delay: -259s;
  transform-origin: 5vw -22vh;
  box-shadow: -2vmin 0 0.8811171306441952vmin currentColor;
}
.background span:nth-child(2) {
  color: #5b14d7;
  top: 55%;
  left: 67%;
  animation-duration: 104s;
  animation-delay: -95s;
  transform-origin: 8vw -20vh;
  box-shadow: 2vmin 0 0.9921189618234869vmin currentColor;
}
.background span:nth-child(3) {
  color: #ffffff;
  top: 88%;
  left: 50%;
  animation-duration: 489s;
  animation-delay: -76s;
  transform-origin: 15vw -12vh;
  box-shadow: -2vmin 0 1.0317410517500119vmin currentColor;
}
.background span:nth-child(4) {
  color: #5b14d7;
  top: 4%;
  left: 79%;
  animation-duration: 400s;
  animation-delay: -333s;
  transform-origin: -24vw 24vh;
  box-shadow: -2vmin 0 0.7067424722500595vmin currentColor;
}
.background span:nth-child(5) {
  color: #5b14d7;
  top: 55%;
  left: 45%;
  animation-duration: 54s;
  animation-delay: -47s;
  transform-origin: 17vw -5vh;
  box-shadow: -2vmin 0 0.4307078865292715vmin currentColor;
}
.background span:nth-child(6) {
  color: #5b14d7;
  top: 86%;
  left: 70%;
  animation-duration: 447s;
  animation-delay: -207s;
  transform-origin: -8vw -14vh;
  box-shadow: 2vmin 0 0.47314719811500083vmin currentColor;
}
.background span:nth-child(7) {
  color: #ffffff;
  top: 90%;
  left: 82%;
  animation-duration: 352s;
  animation-delay: -269s;
  transform-origin: 3vw 2vh;
  box-shadow: 2vmin 0 0.42727973264969266vmin currentColor;
}
.background span:nth-child(8) {
  color: #5b14d7;
  top: 91%;
  left: 62%;
  animation-duration: 226s;
  animation-delay: -356s;
  transform-origin: -10vw 1vh;
  box-shadow: -2vmin 0 0.5190956069458357vmin currentColor;
}
.background span:nth-child(9) {
  color: #ffffff;
  top: 55%;
  left: 10%;
  animation-duration: 387s;
  animation-delay: -107s;
  transform-origin: 5vw -10vh;
  box-shadow: 2vmin 0 0.9525572508803899vmin currentColor;
}
.background span:nth-child(10) {
  color: #ffffff;
  top: 18%;
  left: 38%;
  animation-duration: 48s;
  animation-delay: -360s;
  transform-origin: 2vw 9vh;
  box-shadow: -2vmin 0 0.6501590375787891vmin currentColor;
}
.background span:nth-child(11) {
  color: #5b14d7;
  top: 48%;
  left: 99%;
  animation-duration: 11s;
  animation-delay: -373s;
  transform-origin: 7vw -5vh;
  box-shadow: -2vmin 0 0.45409762480887217vmin currentColor;
}
.background span:nth-child(12) {
  color: #ffffff;
  top: 64%;
  left: 82%;
  animation-duration: 259s;
  animation-delay: -129s;
  transform-origin: 20vw 16vh;
  box-shadow: -2vmin 0 0.6027080324068053vmin currentColor;
}
.background span:nth-child(13) {
  color: #5b14d7;
  top: 76%;
  left: 1%;
  animation-duration: 440s;
  animation-delay: -424s;
  transform-origin: -19vw 8vh;
  box-shadow: 2vmin 0 1.2336401058779578vmin currentColor;
}
.background span:nth-child(14) {
  color: #ffffff;
  top: 33%;
  left: 94%;
  animation-duration: 300s;
  animation-delay: -253s;
  transform-origin: -14vw -6vh;
  box-shadow: -2vmin 0 1.1732721948845477vmin currentColor;
}
.background span:nth-child(15) {
  color: #5b14d7;
  top: 22%;
  left: 41%;
  animation-duration: 209s;
  animation-delay: -362s;
  transform-origin: -4vw -9vh;
  box-shadow: 2vmin 0 0.26380969908705265vmin currentColor;
}
.background span:nth-child(16) {
  color: #5b14d7;
  top: 97%;
  left: 55%;
  animation-duration: 235s;
  animation-delay: -387s;
  transform-origin: -24vw 18vh;
  box-shadow: -2vmin 0 0.7888449818619598vmin currentColor;
}
.background span:nth-child(17) {
  color: #5b14d7;
  top: 74%;
  left: 28%;
  animation-duration: 203s;
  animation-delay: -339s;
  transform-origin: -18vw 14vh;
  box-shadow: 2vmin 0 0.9043171709820013vmin currentColor;
}
.background span:nth-child(18) {
  color: #5b14d7;
  top: 65%;
  left: 64%;
  animation-duration: 440s;
  animation-delay: -354s;
  transform-origin: -6vw 9vh;
  box-shadow: 2vmin 0 0.6594122218401015vmin currentColor;
}
.background span:nth-child(19) {
  color: #ffffff;
  top: 100%;
  left: 89%;
  animation-duration: 155s;
  animation-delay: -84s;
  transform-origin: -17vw 5vh;
  box-shadow: 2vmin 0 0.30020090795337406vmin currentColor;
}
.background span:nth-child(20) {
  color: #ffffff;
  top: 77%;
  left: 57%;
  animation-duration: 436s;
  animation-delay: -461s;
  transform-origin: -23vw -6vh;
  box-shadow: 2vmin 0 1.0931690338521907vmin currentColor;
}
.background span:nth-child(21) {
  color: #ffffff;
  top: 9%;
  left: 18%;
  animation-duration: 166s;
  animation-delay: -235s;
  transform-origin: 24vw -15vh;
  box-shadow: 2vmin 0 0.5551921760836152vmin currentColor;
}
